:root {
   --grey-trans: rgba(200,200,200,0.5);
   --gold:#F5AA23;
   --black-halo: #444;
}

html {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    padding:0px;
    margin:0px;
}

/*div {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}*/
/*
div{
    transform:rotate(3.14rad);
    -webkit-transform:rotate(3.14rad);
    -moz-transform:rotate(3.14rad);
}
*/


.big-suit{
    color:white;
    opacity:1;
    
}

.suit-box{
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:.1;
}

.selected-suit {
    opacity:0.5;
}

.selected-suit a{
    color:black;
}

.display-card {
    /*
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    */
}

.display-card-box{
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--grey-trans);
    border-top: solid #bbb 4px;
    border-bottom: solid var(--grey-trans) 4px;
}

.already-selected-card {
    /*color:blue;*/
    color:var(--gold);
    font-weight:bolder;
    text-shadow: 0 0 1px var(--black-halo), 0 0 1px var(--black-halo),
                0 0 1px var(--black-halo), 0 0 1px var(--black-halo);
}

.status-bar {
    background:#ddd;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.status-tag {
    background:#eee;
    padding:10px;
    border-radius:10px;
}

.name-tag {
    margin-left:20px;
    background:#ddd;
    font-style: italic;
}

.round-num-tag {
    margin-right:20px;
    border:2px solid #ccc;
}

canvas#plane{
    background:#ccc;
    /*height: 100%;*/
    overflow: hidden;
    /*width: 100%;*/
    position: fixed;
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    padding:0px;
    margin:0px;
}
