<!doctype html>
<title>Ring Test</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style/ring.css') }}">
<script type="text/javascript" src ="{{ url_for('static', filename = 'js/ring.js') }}">
</script>
<script type="text/javascript">
            emojicon = load_emoji({{emoji|tojson}});
            console.log({{username|tojson}})
            round_no_ = load_data_from_server('round_no', {{round_no|tojson}});
            username_ = load_data_from_server('username', {{username|tojson}});
</script>

<div>
    <canvas id='plane'></canvas>
</div>

